/* Базовый стиль */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus-button {
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: background-color 0.3s;
}
.plus-button:hover { background-color: #16a085; }

/* Контейнер для плашек */
.project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили Плашки Проекта */
.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: inherit;
    position: relative;
    border-left: 5px solid #3498db;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.favorite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #f1c40f; 
}
.favorite-btn.not-favorite { color: #ccc; }
.tags { margin-top: 15px; }
.tag {
    display: inline-block;
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

/* Стили Модального Окна */
.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
    max-width: 700px;
    position: relative;
}
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#drop-area {
    border: 2px dashed #3498db;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    color: #3498db;
}
.file-select-btn {
    background-color: white;
    border: 1px solid #ccc;
    transition: background-color 0.2s;
}
.file-select-btn:hover {
    background-color: #eee;
}
.file-select-btn.selected {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}
.action-link {
    display: inline-block;
    background-color: #2ecc71;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}
